{
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-closing-bracket-location": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": 1
    }
  }
}